.taskApp {
  /* Sample */
  width: 30%;
  margin: 20px auto;
  box-shadow: rgba(19, 1, 1, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}